<!DOCTYPE html>
<html>
<head>
    <title>{{ stock.symbol }}</title>
</head>

<body style="font-family: Arial; background:#0b1220; color:white; padding:20px;">

<h2>{{ stock.symbol }}</h2>

<p><b>Score:</b> {{ stock.score }}</p>
<p><b>Growth:</b> {{ stock.price_growth }}</p>
<p><b>P/E:</b> {{ stock.pe }}</p>
<p><b>Revenue Growth:</b> {{ stock.revenue_growth }}</p>
<p><b>Margin:</b> {{ stock.margin }}</p>

<h3>Why this stock?</h3>
<ul>
    {% for r in explanation %}
        <li>{{ r }}</li>
    {% endfor %}
</ul>

<br>
<a href="/">← Back</a>

</body>
</html>